In [2]:
import pandas as pd
import numpy as np

df=pd.read_excel("USStates.xlsx")

df.head()

,State,Region,Population,HouseholdIncome,HighSchool,College,Smokers,PhysicalActivity,Obese,NonWhite,HeavyDrinkers,TwoParents,Insured
0,Alabama,S,4.849,43.253,84.9,24.9,21.5,45.4,32.4,30.7,4.3,58.7,78.8
1,Alaska,W,0.737,70.760,92.8,24.7,22.6,55.3,28.4,33.1,8.2,69.6,79.8
2,Arizona,W,6.731,49.774,85.6,25.5,16.3,51.9,26.8,20.8,6.3,62.7,74.7
3,Arkansas,S,2.966,40.768,87.1,22.4,25.9,41.2,34.6,21.7,5.0,62.0,71.7
4,California,W,38.803,61.094,84.1,31.4,12.5,56.3,24.1,37.7,6.4,65.3,79.7

## Task 1

### Technically, all variables below with the exception of the state could be considered an explanatory and response variables with some being more viable than others.

| Column | Considered Explanatory | Considered Response | Note |
| --- | --- | --- |  --- | 
State | --- | ---| This would be considered an identification variable. | 
Region | X | X | This could be both a target variable & an explanatory variable. | 
Population | X | X | This could be both a target variable & an explanatory variable. | 
HouseholdIncome | X | X | This could be both a target variable & an explanatory variable. | 
HighSchool | X | X | This could be both a target variable & an explanatory variable. | 
College | X | X | This could be both a target variable & an explanatory variable. | 
Smokers | X | X | This could be both a target variable & an explanatory variable. | 
PhysicalActivity | X | X | This could be both a target variable & an explanatory variable. | 
Obese | X | X | This could be both a target variable & an explanatory variable. | 
NonWhite | X | X | This could be both a target variable & an explanatory variable. | 
HeavyDrinkers | X | X | This could be both a target variable & an explanatory variable. | 
TwoParents | X | X | This could be both a target variable & an explanatory variable. | 
Insured | X | X | This could be both a target variable & an explanatory variable. |

## Task 2